@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.wrapper {
  max-width: 1350px;
  width: 61.5%;
  margin: 0 auto;
  font-family: "Dosis-Regular", sans-serif;
}

/* Common styling. */
.wrapper ul{ list-style: none;}
.wrapper a{ text-decoration: none;}
.wrapper button{ outline: none;}
.wrapper input{ outline: none;}

.capitalize{ 
  display: inline-block;
  text-transform: capitalize;
}
.uppercase{ 
  display: inline-block;
  text-transform: uppercase;
}
.active{ background-color: #439fe3;}
/*=================================
  Header styling start.
=================================*/
.hamburger,.top,.close{ display: none;}

/* Hamburger style. */
.hamburger{
  height: 9px;
  width: 20px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  position: relative;
  top: 7px;
  text-indent: -9000px;
  cursor: pointer;
}

.hamburger span{
  margin-top: 3px;
  border-top: 3px solid #fff;
  display: block;
}

header{
  background-image: linear-gradient(to right,#2c5eab 40%,#2c5eab00), url("../images/backround1.jpg");
  background-size: cover;
}

.logo-search{
  padding: 25px 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-search img{ width: 200px;}

.logo-search input{
  width: 150px;
  height: 25px;
  padding-left: 10px;
  border: 1px solid #439fe3;
  font-size: 12px;
}

.logo-search button{
  height: 29px;
  padding: 0 12px;
  border: 1px solid #439fe3;
  margin-left: -5px;
  background-color: #439fe3;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
}

.logo-search button:hover{
  transition: .5s;
  background-color: #2c5eab;
}

.menu{ height: 30px;}

.menu::before{ 
  content: "skdjf";
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  background-image: linear-gradient(to right,#377cc5,#377cc500);
  color: transparent;
}

.menu{
  display: flex;
  align-items: center;
}

.menu li{ 
  height: 100%;
  margin-right: 5px;
  padding: 0 10px;
}

.menu li:hover{ 
  transition: .5s;
  background-color: #439fe3;
}

.menu li a{
  position: relative;
  top: 5px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
}

.menu a::before{
  content: "|";
  position: absolute;
  left: -14px;
  color: #439fe3;
}

.menu li:first-child a::before{
  content: "|";
  display: none;
}

header h2{ 
  padding: 90px 0;
  color: #fff;
  font-size: 30px;
}

header h2::first-letter{ text-transform: uppercase;}

.tagline{ 
  max-width: 450px;
  margin-top: 10px;
  display: block;
  color: #89ccff;
  font-size: 25px;
}

.tagline::first-letter{ text-transform: uppercase;}

/* Top button styling starts. */
.top{
  position: fixed;
  z-index: 5;
  right: 60px;
  bottom: 50px;
  cursor: pointer;
}

.top span{
  display: inline-block;
  text-indent: -9000px;
}

.top span::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f106";
  padding: 5px 15px;
  border-radius: 100px;
  float: right;
  font-size: 40px;
  background-color: #000000b3;
  color: #fff;
  text-indent: 0;
}
/*=================================
  Header styling end.
=================================*/
/*=================================
  Main styling start.
=================================*/
/* Core business styling starts. */
.core-business{ padding: 45px 0 85px 0;}

.core-business h2{
  margin-bottom: 25px;
  color: #377cc5;
  font-size: 26px;
}

.core-business h2::first-letter{ text-transform: uppercase;}

.core-business ul{
  display: flex;
  justify-content: space-between;
}

.core-business ul a{ position: relative;}

.core-business ul a::after{
  position: absolute;
  left: 50%;
  bottom: -60px;
  color: #377cc5;
  transform: translate(-50%,0);
  text-align: center;
}

.core-business ul li:first-child a::after{ content: "Conferences";}

.core-business ul li:nth-child(2) a::after{ content: "News";}

.core-business ul li:nth-child(3) a::after{ content: "Training";}

.core-business ul li:nth-child(4) a::after{ 
  content: "Treasury Network";
  bottom: -78px;
}

.core-business ul li:nth-child(5) a::after{ content: "Awards";}

.core-business ul li:nth-child(6) a::after{ 
  content: "Custom Solutions";
  bottom: -78px;
}

.core-business ul img{ width: 80px;}

/* Flagship styling starts. */
.flagship{
  padding: 110px 0;
  background-image: linear-gradient(to right,#2c5eab,#2c5eab00 50%), url("../images/backroundimg2.jpg");
  background-size: cover;
  color: #fff;
}

.flagship h2{ font-size: 26px;}

.flagship h2::first-letter{ text-transform: uppercase;}

.flagship-tagline{
  width: 280px;
  margin: 15px 0;
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1.4;
}

.flagship p{
  font-size: 13px;
  width: 480px;
  line-height: 1.5;
}

.flagship a{
  padding: 7px 30px;
  border-radius: 2px;
  margin: 25px 0;
  display: inline-block;
  background-color: #439fe3;
  color: #fff;
  font-size: 13px;
}

.flagship a:hover{
  transition: .5s;
  background-color: #2c5eab;
}

.flagship a::first-letter{ text-transform: uppercase;}

/* Latest news styling starts. */
.latest-news{ padding: 55px 0 80px 0;}

.latest-news h2{
  margin-bottom: 30px;
  color: #2c5eab;
  font-size: 26px;
}

.latest-news h2::first-letter,.latest-news ul a::first-letter,.latest-news ul p::first-letter{ text-transform: uppercase;}

.latest-news ul{
  display: flex;
  justify-content: space-between;
}

.latest-news ul li{ flex-basis: 23%;}

.latest-news ul li:nth-child(4) p .capitalize{ display: inline;}

.latest-news ul a{
  width: 200px;
  display: block;
  color: #2c5eab;
  font-size: 18px;
  line-height: 1.3;
}

.latest-news-block{ display: block;}

.latest-news-date{
  margin: 10px 0;
  display: block;
  color: #a7a7a7;
  font-size: 16px;
  text-transform: capitalize;
}

.latest-news p{
  font-size: 12px;
  line-height: 1.5;
}

/* Newsletter signup styling starts. */
.newsletter{
  padding: 50px 0;
  background-image: linear-gradient(to right,#2c5eab,#1e3066 50%);
}

.newsletter .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter h2{
  flex-basis: 49%;
  color: #fff;
  font-size: 26px;
}

.newsletter h2::first-letter{ text-transform: uppercase;}

.newsletter-tagline{
  margin-top: 10px;
  display: block;
  font-size: 12px;
}

.newsletter form{ 
  padding: 20px 30px;
  border: 1px solid #0000002e;
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  background-color: #0000002e;
  border-radius: 10px;
}

.newsletter form input{ 
  padding: 7px;
  border: 1px solid #2c5eab;
  border-radius: 5px;
  margin-bottom: 18px;
  display: block;
  outline: none;
}

.newsletter form input[type="submit"]{
  margin: 0;
  background-color: #439fe3;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.newsletter form input[type="submit"]:hover{
  transition: .5s;
  background-color: #2c5eab;
}

/* Corporate styling starts. */
.corporate .wrapper{
  padding: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.corporate-login h2{
  max-width: 400px;
  color: #2c5eab;
  font-size: 26px;
  text-transform: capitalize;
}

.corporate-login p{
  max-width: 320px;
  margin: 10px 0 40px 0;
  font-size: 13px;
  line-height: 1.4;
}

.corporate-login p::first-letter{ text-transform: uppercase;}

.corporate-login a{
  padding: 7px 30px;
  border: 1px solid #439fe3;
  display: inline-block;
  font-size: 14px;
  border-radius: 2px;
}

.corporate-login a::first-letter{ text-transform: uppercase;}

.corporate-login a:nth-child(3){
  background-color: #439fe3;
  color: #fff;
}

.corporate-login a:nth-child(4){
  margin-left: 10px;
  background-color: #fff;
  color: #439fe3;
}

.corporate-login a:nth-child(3):hover,.corporate-login a:nth-child(4):hover{
  transition: .5s;
  background-color: #1e3066;
}

.corporate img{ width: 400px;}
/*=================================
  Main styling end.
=================================*/
/*=================================
  Footer styling start.
=================================*/
footer{ background-image: linear-gradient(to right,#2c5eab,#1e3066);}

.footer-top{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.footer-top figure{ flex-basis: 32%;}

.footer-top figure a{ 
  width: 100%;
  display: inline-block;
  position: relative;
}

.footer-top figure a::after{
  content: "Part of The Economist Group";
  padding-top: 10px;
  border-top: 1px solid #439fe3;
  position: absolute;
  top: 45px;
  left: 0;
  color: #fff;
  font-size: 14px;
}

.footer-top figure img{ width: 200px;}

.footer-menu{ flex-basis: 32%;}

.footer-menu li a{
  display: inline-block;
  color: #fff;
  font-size: 13px;
}

.footer-menu li:first-child a{
  margin: 10px 0;
  font-size: 16px;
}

.footer-menu li a:hover{
  transition: .5s;
  color: #ccc;
}

.footer-menu li a::first-letter{ text-transform: uppercase;}

.social-icons{ flex-basis: 32%;}

.social-icons h3{
  margin: 10px 0;
  color: #fff;
  font-size: 16px;
}

.social-icons h3::first-letter{ text-transform: uppercase;}

.social-icons ul{
  display: flex;
  align-items: center;
}

.social-icons a{ 
  display: inline-block;
  color: #fff;
  text-indent: -9000px;
  text-align: center;
}

.social-icons ul li a::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  padding: 5px 6px;
  margin-right: 15px;
  float: left;
  background-color: #fff;
  font-size: 18px;
  border-radius: 100px;
  font-weight: 400; 
  text-indent: 0;
}

.social-icons ul li a:hover::before{
  transition: .5s;
  background-color: #ccc;
}

.social-icons a[title="Linked in"]::before{
  font-family: "Font Awesome 5 Brands"; 
  content: "\f0e1";
  color: #2c5eab;
  padding: 5px 7px;
}

.social-icons a[title="Twitter"]::before{
  font-family: "Font Awesome 5 Brands"; 
  content: "\f099";
  color: #439fe3;
}

.social-icons a[title="Youtube"]::before{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f04b";
  padding: 8px 10px;
  font-size: 12px;
  color: red;
}

.social-icons a[title="Facebook"]::before{
  font-family: "Font Awesome 5 Brands"; 
  content: "\f39e";
  color: #1e3066;
  padding: 5px 9px;
}

.copywrite{
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copywrite::before{
  content: "backroundcolor";
  height: 35px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #163563;
  color: transparent;
}

.copywrite ul{
  display: flex;
  align-items: center;
  position: relative;
}

.copywrite ul li::before{
  content: "|";
  margin: 0 5px;
  color: #fff;
  font-size: 11px;
}

.copywrite ul li:first-child::before{ display: none;}

.copywrite ul a{
  display: inline-block;
  color: #fff;
  font-size: 11px;
}

.copywrite ul a::first-letter{ text-transform: uppercase;}

.copywrite ul a:hover{
  transition: .5s;
  color: #ccc;
}

.copywrite span{
  color: #fff;
  font-size: 11px;
  text-transform: capitalize;
  position: relative;
}
/*=================================
  Footer styling end.
=================================*/

/* Media query start. */
@media only screen and (max-width: 1330px){
  .latest-news ul{ 
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .latest-news p{ margin-bottom: 10px;}

  .corporate .wrapper{ flex-direction: column;}

  .corporate figure{ margin-top: 50px;}
}

/* Media query for 900px starts. */
@media only screen and (max-width: 900px){
  .top{
    right: 10px;
    bottom: 10px;
  }

  .logo-search,.copywrite,.newsletter .wrapper{ flex-direction: column;}

  .logo-search h1{ margin-bottom: 10px;}

  .menu{ 
    /* position: fixed; */
    left: 0;
    top: 0;
    flex-direction: column;
  }


  .menu li{ 
    display: none;
    /* height: auto; */
    /* margin: 0; */
  }

  /* .menu li a{ position: static;} */

  /* .menu a::before{ display: none;} */

  .menu li:last-child,.hamburger{ display: block;}
  /* delte */
  /* .menu li:last-child{ display: none;} */

  .core-business ul{ flex-wrap: wrap;}

  .core-business ul li{ margin: 0 10px 50px 10px;}

  .flagship-tagline{ width: auto;}

  .flagship p{ width: auto;}

  .newsletter form{ margin-top: 50px;}

  .corporate .wrapper{ padding:  85px 10px;}

  .corporate-login p{ margin: 10px 0 30px 0;}

  .corporate-login a{ 
    margin: 10px 0 0 0; 
    display: block; 
    text-align: center;
  }

  .corporate-login a:nth-child(4){ margin: 10px 0 0 0;}

  .corporate img{ width: 300px;}

  .footer-top{ 
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-menu{ 
    padding: 10px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 70px 0 40px 0;
  }

  .copywrite::before{ height: 130px;}

  .copywrite ul{ 
    flex-direction: column;
    padding: 10px 0;
  }

  .copywrite ul li::before{ display: none;}

  .copywrite span{ margin: 5px 0;}

  .logo-search button:hover{ background-color: #439fe3;}

  .menu li:hover{ background-color: transparent;}

  .flagship a:hover{ background-color: #439fe3;}

  .newsletter form input[type="submit"]:hover{ background-color: #439fe3;}

  .corporate-login a:nth-child(3):hover{ background-color: #439fe3;}
  
  .corporate-login a:nth-child(4):hover,.social-icons ul li a:hover::before{ background-color: #fff;}

  .footer-menu li a:hover,.copywrite ul a:hover{ color: #fff;}
}

/* Media query for 350px starts. */
@media only screen and (max-width:350px){
  .logo-search img{ width: 100%;}

  .logo-search input{
    width: 99%;
    padding: 0;
  }

  .logo-search button{ 
    width: 100%;
    margin: 0;
    display: block;
  }

  .core-business h2{ text-align: center;}

  .core-business ul{
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .latest-news ul{
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .latest-news h2{ text-align: center;}

  .latest-news ul a{ width: auto;}

  .newsletter form{
    width: 80%;
    padding: 20px;
  }

  .corporate img{ width: 100%;}

  .footer-menu{ margin: 90px 0 40px 0;}

  .footer-top figure img{ width: 100%;}

  .footer-top figure a::after{
    width: 100%;
    left: 50%;
    transform: translate(-50%,0);
  }

  .copywrite::before{ height: 160px;}
}

/*=========================================================================================
  Conferences page styling starts.
===========================================================================================*/
/* Header styling start. */
.conferences-header{ padding: 0 0 50px 0;}
.conferences-heading{ padding: 90px 0 0 0;}

.conferences-date{ 
  margin: 20px 0;
  display: block;
  color: #6cbfff;
  font-size: 18px;
  text-transform: capitalize;
}

.conferences-findout{
  padding: 7px 30px;
  border-radius: 2px;
  display: inline-block;
  background-color: #439fe3;
  color: #fff;
  font-size: 13px;
}

.conferences-findout::first-letter{ text-transform: uppercase;}

.conferences-findout:hover{
  transition: .5s;
  background-color: #1e3066;
}
/*=========================================================================================
  Conferences page styling ends.
===========================================================================================*/
/*=================================
  Main styling start.
=================================*/
/* Page tracker styling start. */
.page-tracker{ padding: 20px 0;}

.page-tracker ul{ display: flex;}

.page-tracker ul li a,.page-tracker ul li{
  color: #393939;
  font-size: 13px;
  text-transform: capitalize;
}

.page-tracker ul li:nth-child(2){ margin: 0 10px;}

.page-tracker ul li:nth-child(3){ font-weight: 600;}

/* All conferences styling starts. */
.all-conferences h2{
  color: #377cc5;
  font-size: 26px;
  text-transform: capitalize;
}

.all-conferences ul{
  margin: 45px 0;
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  justify-content: space-between;
  grid-row-gap: 20px;
}

.all-conferences ul li figure img{ 
  width: 100%;
  height: 100%;
}

.all-conferences ul li h3 a{
  width: 250px;
  margin: 15px 0 5px 0;
  display: inline-block;
  color: #377cc5;
  font-size: 16px;
  text-transform: capitalize;
}

.all-conferences-date{
  color: #393939;
  font-size: 13px;
  text-transform: capitalize;
}

/* Become section starts. */
.become .wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.become .wrapper div{ 
  padding: 30px 45px;
  background-image: radial-gradient(circle,#475c88,#4787c0);
}

.become .wrapper h3{
  color: #89ccff;
  font-size: 18px;
}

.become .wrapper ul{
  width: 210px; 
  padding: 25px 0;
  margin-left: 38px;
  list-style: outside;
}

.become .wrapper h3::first-letter{ text-transform: uppercase;}

.become .wrapper ul li{
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
}

.become .wrapper ul li:nth-child(2){ margin-top: 10px;}

.become .wrapper ul li::first-letter{ text-transform: uppercase;}

.become .wrapper a{
  padding: 10px 20px;
  border-radius: 2px;
  display: inline-block;
  background-color: #439fe3;
  color: #fff;
  font-size: 13px;
}

.become .wrapper a::first-letter{ text-transform: uppercase;}

.become .wrapper a:hover{
  transition: .5s;
  background-color: #1e3066;
}
/*=================================
  Main styling end.
=================================*/
