@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.wrapper {
  max-width: 1350px;
  width: 61.5%;
  margin: 0 auto;
  font-family: "Dosis-Regular", sans-serif;
}

/* Common styling. */
.wrapper ul{ list-style: none;}
.wrapper a{ text-decoration: none;}
.wrapper button{ outline: none;}
.wrapper input{ outline: none;}

.capitalize{ 
  display: inline-block;
  text-transform: capitalize;
}
.uppercase{ 
  display: inline-block;
  text-transform: uppercase;
}
.active{ background-color: #439fe3;}
/*=================================
  Header styling start.
=================================*/
.hamburger,.top,.close{ display: none;}

/* Hamburger style. */
.hamburger{
  height: 9px;
  width: 20px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  position: relative;
  top: 7px;
  text-indent: -9000px;
  cursor: pointer;
}

.hamburger span{
  margin-top: 3px;
  border-top: 3px solid #fff;
  display: block;
}

header{
  background-image: linear-gradient(to right,#2c5eab 40%,#2c5eab00), url("../images/backround1.jpg");
  background-size: cover;
}

.logo-search{
  padding: 25px 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-search img{ width: 200px;}

.logo-search input{
  width: 150px;
  height: 25px;
  padding-left: 10px;
  border: 1px solid #439fe3;
  font-size: 12px;
}

.logo-search button{
  height: 29px;
  padding: 0 12px;
  border: 1px solid #439fe3;
  margin-left: -5px;
  background-color: #439fe3;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
}

.logo-search button:hover{
  transition: .5s;
  background-color: #2c5eab;
}

.menu{ height: 30px;}

.menu::before{ 
  content: "skdjf";
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  background-image: linear-gradient(to right,#377cc5,#377cc500);
  color: transparent;
}

.menu{
  display: flex;
  align-items: center;
}

.menu li{ 
  height: 100%;
  margin-right: 5px;
  padding: 0 10px;
}

.menu li:hover{ 
  transition: .5s;
  background-color: #439fe3;
}

.menu li a{
  position: relative;
  top: 5px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
}

.menu a::before{
  content: "|";
  position: absolute;
  left: -14px;
  color: #439fe3;
}

.menu li:first-child a::before{
  content: "|";
  display: none;
}

header h2{ 
  padding: 90px 0;
  color: #fff;
  font-size: 30px;
}

header h2::first-letter{ text-transform: uppercase;}

.tagline{ 
  max-width: 450px;
  margin-top: 10px;
  display: block;
  color: #89ccff;
  font-size: 25px;
}

.tagline::first-letter{ text-transform: uppercase;}

/* Top button styling starts. */
.top{
  position: fixed;
  z-index: 5;
  right: 60px;
  bottom: 50px;
  cursor: pointer;
}

.top span{
  display: inline-block;
  text-indent: -9000px;
}

.top span::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f106";
  padding: 5px 15px;
  border-radius: 100px;
  float: right;
  font-size: 40px;
  background-color: #000000b3;
  color: #fff;
  text-indent: 0;
}
/*=================================
  Header styling end.
=================================*/
/*=================================
  Main styling start.
=================================*/
/* Core business styling starts. */
.core-business{ padding: 45px 0 85px 0;}

.core-business h2{
  margin-bottom: 25px;
  color: #377cc5;
  font-size: 26px;
}

.core-business h2::first-letter{ text-transform: uppercase;}

.core-business ul{
  display: flex;
  justify-content: space-between;
}

.core-business ul a{ position: relative;}

.core-business ul a::after{
  position: absolute;
  left: 50%;
  bottom: -60px;
  color: #377cc5;
  transform: translate(-50%,0);
  text-align: center;
}

.core-business ul li:first-child a::after{ content: "Conferences";}

.core-business ul li:nth-child(2) a::after{ content: "News";}

.core-business ul li:nth-child(3) a::after{ content: "Training";}

.core-business ul li:nth-child(4) a::after{ 
  content: "Treasury Network";
  bottom: -78px;
}

.core-business ul li:nth-child(5) a::after{ content: "Awards";}

.core-business ul li:nth-child(6) a::after{ 
  content: "Custom Solutions";
  bottom: -78px;
}

.core-business ul img{ width: 80px;}

/* Flagship styling starts. */
.flagship{
  padding: 110px 0;
  background-image: linear-gradient(to right,#2c5eab,#2c5eab00 50%), url("../images/backroundimg2.jpg");
  background-size: cover;
  color: #fff;
}

.flagship h2{ font-size: 26px;}

.flagship h2::first-letter{ text-transform: uppercase;}

.flagship-tagline{
  width: 280px;
  margin: 15px 0;
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1.4;
}

.flagship p{
  font-size: 13px;
  width: 480px;
  line-height: 1.5;
}

.flagship a{
  padding: 7px 30px;
  border-radius: 2px;
  margin: 25px 0;
  display: inline-block;
  background-color: #439fe3;
  color: #fff;
  font-size: 13px;
}

.flagship a:hover{
  transition: .5s;
  background-color: #2c5eab;
}

.flagship a::first-letter{ text-transform: uppercase;}

/* Latest news styling starts. */
.latest-news{ padding: 55px 0 80px 0;}

.latest-news h2{
  margin-bottom: 30px;
  color: #2c5eab;
  font-size: 26px;
}

.latest-news h2::first-letter,.latest-news ul a::first-letter,.latest-news ul p::first-letter{ text-transform: uppercase;}

.latest-news ul{
  display: flex;
  justify-content: space-between;
}

.latest-news ul li{ flex-basis: 23%;}

.latest-news ul li:nth-child(4) p .capitalize{ display: inline;}

.latest-news ul a{
  width: 200px;
  display: block;
  color: #2c5eab;
  font-size: 18px;
  line-height: 1.3;
}

.latest-news ul a:hover,.latest-news ul a:hover span{
  transition: .5s;
  text-decoration: underline;
}

.latest-news-block{ display: block;}

.latest-news-date{
  margin: 10px 0;
  display: block;
  color: #a7a7a7;
  font-size: 16px;
  text-transform: capitalize;
}

.latest-news p{
  font-size: 12px;
  line-height: 1.5;
}

/* Newsletter signup styling starts. */
.newsletter{
  padding: 50px 0;
  background-image: linear-gradient(to right,#2c5eab,#1e3066 50%);
}

.newsletter .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter h2{
  flex-basis: 49%;
  color: #fff;
  font-size: 26px;
}

.newsletter h2::first-letter{ text-transform: uppercase;}

.newsletter-tagline{
  margin-top: 10px;
  display: block;
  font-size: 12px;
}

.newsletter form{ 
  padding: 20px 30px;
  border: 1px solid #0000002e;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
  background-color: #0000002e;
  border-radius: 10px;
}

.newsletter form input{ 
  padding: 7px;
  border: 1px solid #2c5eab;
  border-radius: 5px;
  margin-bottom: 35px;
  display: block;
  outline: none;
}

.newsletter form input[type="submit"]{
  margin: 0;
  background-color: #439fe3;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.newsletter form input[type="submit"]:hover{
  transition: .5s;
  background-color: #2c5eab;
}

/* Corporate styling starts. */
.corporate .wrapper{
  padding: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.corporate-login h2{
  max-width: 400px;
  color: #2c5eab;
  font-size: 26px;
  text-transform: capitalize;
}

.corporate-login p{
  max-width: 320px;
  margin: 10px 0 40px 0;
  font-size: 13px;
  line-height: 1.4;
}

.corporate-login p::first-letter{ text-transform: uppercase;}

.corporate-login a{
  padding: 7px 30px;
  border: 1px solid #439fe3;
  display: inline-block;
  font-size: 14px;
  border-radius: 2px;
}

.corporate-login a::first-letter{ text-transform: uppercase;}

.corporate-login a:nth-child(3){
  background-color: #439fe3;
  color: #fff;
}

.corporate-login a:nth-child(4){
  margin-left: 10px;
  background-color: #fff;
  color: #439fe3;
}

.corporate-login a:nth-child(3):hover,.corporate-login a:nth-child(4):hover{
  transition: .5s;
  background-color: #1e3066;
}

.corporate img{ width: 400px;}

/* Js styling start. */
.form-element{
  position: relative;
}

.lenerror::after{
  content: attr(data-field-name) " must be 2 to 16 charecters long!";
  width: 100%;
  position: absolute;
  z-index: 8;
  color: red;
  font-size: 13px;
  font-weight: 600;
  left: 0;
  bottom: 5px;
}

.syntaxerror::after{
  content: attr(data-field-name) " can not include any no, spaces!";
  width: 100%;
  position: absolute;
  z-index: 8;
  color: red;
  font-size: 13px;
  font-weight: 600;
  left: 0;
  bottom: 5px;
}

.gmaillenerror::after{
  content: attr(data-field-name) " must be 5 to 20 words long!";
  width: 100%;
  position: absolute;
  z-index: 8;
  color: red;
  font-size: 13px;
  font-weight: 600;
  left: 0;
  bottom: 5px;
}

.gmailerror::after{
  content: "Please enter proper gmail address!";
  width: 100%;
  position: absolute;
  z-index: 8;
  color: red;
  font-size: 13px;
  font-weight: 600;
  left: 0;
  bottom: 5px;
}

.phoneerror::after{
  content: "Please enter proper phone number!";
  width: 100%;
  position: absolute;
  z-index: 8;
  color: red;
  font-size: 13px;
  font-weight: 600;
  left: 0;
  bottom: 5px;
}

.phonelenerror::after{
  content: "Phone no must be 10 digits!";
  width: 100%;
  position: absolute;
  z-index: 8;
  color: red;
  font-size: 13px;
  font-weight: 600;
  left: 0;
  bottom: 5px;
}

.passworderror::after{
  content: "Password does not match!";
  width: 100%;
  position: absolute;
  z-index: 8;
  color: red;
  font-size: 13px;
  font-weight: 600;
  left: 0;
  bottom: 5px;
}

.validfield::after{
  content: attr(data-field-name) " Valid";
  width: 100%;
  position: absolute;
  z-index: 8;
  color: green;
  font-size: 13px;
  font-weight: 600;
  left: 0;
  bottom: 5px;
}

.form-element:last-child::after{ display: none;}
/*=================================
  Main styling end.
=================================*/
/*=================================
  Footer styling start.
=================================*/
footer{ background-image: linear-gradient(to right,#2c5eab,#1e3066);}

.footer-top{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.footer-top figure{ flex-basis: 32%;}

.footer-top figure a{ 
  width: 100%;
  display: inline-block;
  position: relative;
}

.footer-top figure a::after{
  content: "Part of The Economist Group";
  padding-top: 10px;
  border-top: 1px solid #439fe3;
  position: absolute;
  top: 45px;
  left: 0;
  color: #fff;
  font-size: 14px;
}

.footer-top figure img{ width: 200px;}

.footer-menu{ flex-basis: 32%;}

.footer-menu li a{
  display: inline-block;
  color: #fff;
  font-size: 13px;
}

.footer-menu li:first-child a{
  margin: 10px 0;
  font-size: 16px;
}

.footer-menu li a:hover{
  transition: .5s;
  color: #ccc;
}

.footer-menu li a::first-letter{ text-transform: uppercase;}

.social-icons{ flex-basis: 32%;}

.social-icons h3{
  margin: 10px 0;
  color: #fff;
  font-size: 16px;
}

.social-icons h3::first-letter{ text-transform: uppercase;}

.social-icons ul{
  display: flex;
  align-items: center;
}

.social-icons a{ 
  display: inline-block;
  color: #fff;
  text-indent: -9000px;
  text-align: center;
}

.social-icons ul li a::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  padding: 5px 6px;
  margin-right: 15px;
  float: left;
  background-color: #fff;
  font-size: 18px;
  border-radius: 100px;
  font-weight: 400; 
  text-indent: 0;
}

.social-icons ul li a:hover::before{
  transition: .5s;
  background-color: #ccc;
}

.social-icons a[title="Linked in"]::before{
  font-family: "Font Awesome 5 Brands"; 
  content: "\f0e1";
  color: #2c5eab;
  padding: 5px 7px;
}

.social-icons a[title="Twitter"]::before{
  font-family: "Font Awesome 5 Brands"; 
  content: "\f099";
  color: #439fe3;
}

.social-icons a[title="Youtube"]::before{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f04b";
  padding: 8px 10px;
  font-size: 12px;
  color: red;
}

.social-icons a[title="Facebook"]::before{
  font-family: "Font Awesome 5 Brands"; 
  content: "\f39e";
  color: #1e3066;
  padding: 5px 9px;
}

.copywrite{
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copywrite::before{
  content: "backroundcolor";
  height: 35px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #163563;
  color: transparent;
}

.copywrite ul{
  display: flex;
  align-items: center;
  position: relative;
}

.copywrite ul li::before{
  content: "|";
  margin: 0 5px;
  color: #fff;
  font-size: 11px;
}

.copywrite ul li:first-child::before{ display: none;}

.copywrite ul a{
  display: inline-block;
  color: #fff;
  font-size: 11px;
}

.copywrite ul a::first-letter{ text-transform: uppercase;}

.copywrite ul a:hover{
  transition: .5s;
  color: #ccc;
}

.copywrite span{
  color: #fff;
  font-size: 11px;
  text-transform: capitalize;
  position: relative;
}
/*=================================
  Footer styling end.
=================================*/

/* Media query start. */
@media only screen and (max-width: 1330px){
  .latest-news ul{ 
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .latest-news p{ margin-bottom: 10px;}

  .corporate .wrapper{ flex-direction: column;}

  .corporate figure{ margin-top: 50px;}
}

/* Media query for 900px starts. */
@media only screen and (max-width: 900px){
  .top{
    right: 10px;
    bottom: 10px;
  }

  .logo-search,.copywrite,.newsletter .wrapper{ flex-direction: column;}

  .logo-search h1{ margin-bottom: 10px;}

  .menu{ 
    z-index: 10;
    left: 0;
    top: 0;
    flex-direction: column;
  }

  .active{ border-radius: 2px;}

  .menu li{ 
    height: auto;
  }

  .menu li a{ 
    display: none;
    padding: 5px 10px;
    position: static;
    font-size: 20px;
  }

  .close{ 
    display: none;
    position: fixed;
    top: 20px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
  }

  .hamburger{ display: block;}

  .core-business ul{ flex-wrap: wrap;}

  .core-business ul li{ margin: 0 10px 50px 10px;}

  .flagship-tagline{ width: auto;}

  .flagship p{ width: auto;}

  .newsletter form{ margin-top: 50px;}

  .corporate .wrapper{ padding:  85px 10px;}

  .corporate-login p{ margin: 10px 0 30px 0;}

  .corporate-login a{ 
    margin: 10px 0 0 0; 
    display: block; 
    text-align: center;
  }

  .corporate-login a:nth-child(4){ margin: 10px 0 0 0;}

  .corporate img{ width: 300px;}

  .footer-top{ 
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-menu{ 
    padding: 10px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 70px 0 40px 0;
  }

  .copywrite::before{ height: 130px;}

  .copywrite ul{ 
    flex-direction: column;
    padding: 10px 0;
  }

  .copywrite ul li::before{ display: none;}

  .copywrite span{ margin: 5px 0;}

  .logo-search button:hover{ background-color: #439fe3;}

  .menu li:hover{ background-color: transparent;}

  .flagship a:hover{ background-color: #439fe3;}

  .latest-news ul a:hover,.latest-news ul a:hover span{ text-decoration: none;}

  .newsletter form input[type="submit"]:hover{ background-color: #439fe3;}

  .corporate-login a:nth-child(3):hover{ background-color: #439fe3;}
  
  .corporate-login a:nth-child(4):hover,.social-icons ul li a:hover::before{ background-color: #fff;}

  .footer-menu li a:hover,.copywrite ul a:hover{ color: #fff;}

  header .wrapper nav .menu .active:hover{ background-color: #439fe3;}

  /* Js styling starts here. */
  .menushow{
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: linear-gradient(to right, #2c5eab, #1e3066);
    justify-content: center;
    transition: all .5s;
  }

  .menushow li a{ display: block;}

  .menushow a::before,.menushow::before{ display: none;}

  .menushow .hamburger{ display: none;}
}

/* Media query for 350px starts. */
@media only screen and (max-width:350px){
  .logo-search img{ width: 100%;}

  .logo-search input{
    width: 99%;
    padding: 0;
  }

  .logo-search button{ 
    width: 100%;
    margin: 0;
    display: block;
  }

  .core-business h2{ text-align: center;}

  .core-business ul{
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  .latest-news ul{
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .latest-news h2{ text-align: center;}

  .latest-news ul a{ width: auto;}

  .newsletter form{
    width: 80%;
    padding: 20px;
  }

  .newsletter form input{ 
    width: 96%;
    margin-bottom: 50px;
  }

  .newsletter .form-element:last-child input{ margin-top: 10px;}
  .corporate img{ width: 100%;}

  .footer-menu{ margin: 90px 0 40px 0;}

  .footer-top figure img{ width: 100%;}

  .footer-top figure a::after{
    width: 100%;
    left: 50%;
    transform: translate(-50%,0);
  }

  .copywrite::before{ height: 160px;}
}

/*=========================================================================================
  Conferences page styling starts.
===========================================================================================*/
/* Header styling start. */
.conferences-header{ padding: 0 0 50px 0;}
.conferences-heading{ padding: 90px 0 0 0;}

.conferences-date{ 
  margin: 20px 0;
  display: block;
  color: #6cbfff;
  font-size: 18px;
  text-transform: capitalize;
}

.conferences-findout{
  padding: 7px 30px;
  border-radius: 2px;
  display: inline-block;
  background-color: #439fe3;
  color: #fff;
  font-size: 13px;
}

.conferences-findout::first-letter{ text-transform: uppercase;}

.conferences-findout:hover{
  transition: .5s;
  background-color: #1e3066;
}
/*=================================
  Main styling start.
=================================*/
/* Page tracker styling start. */
.page-tracker{ padding: 20px 0;}

.page-tracker ul{ display: flex;}

.page-tracker ul li a,.page-tracker ul li{
  color: #393939;
  font-size: 13px;
  text-transform: capitalize;
}

.page-tracker ul li a:hover,.page-tracker ul li a:hover span{
  transition: .5s;
  text-decoration: underline;
}

.page-tracker ul li:nth-child(2){ margin: 0 10px;}

.page-tracker ul li:nth-child(3){ font-weight: 600;}

/* All conferences styling starts. */
.all-conferences h2{
  color: #377cc5;
  font-size: 26px;
  text-transform: capitalize;
}

.all-conferences ul{
  margin: 45px 0;
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  justify-content: space-between;
  grid-row-gap: 20px;
}

.all-conferences ul li figure{ overflow: hidden;}

.all-conferences ul li figure img{ 
  width: 100%;
  height: 100%;
}

.all-conferences ul li figure img:hover{
  transition: .5s;
  transform: scale(1.1);
}

.all-conferences ul li h3 a{
  max-width: 250px;
  margin: 15px 0 5px 0;
  display: inline-block;
  color: #377cc5;
  font-size: 16px;
  text-transform: capitalize;
}

.all-conferences ul li h3 a:hover,.all-conferences ul li h3 a:hover span{
  transition: .5s;
  text-decoration: underline;
}

.all-conferences-date{
  color: #393939;
  font-size: 13px;
  text-transform: capitalize;
}

/* Become styling starts. */
.become .wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.become .wrapper div{ 
  padding: 30px 45px;
  background-image: radial-gradient(circle,#475c88,#4787c0);
}

.become .wrapper h3{
  color: #89ccff;
  font-size: 18px;
}

.become .wrapper ul{
  max-width: 210px; 
  padding: 25px 0;
  margin-left: 38px;
  list-style: outside;
}

.become .wrapper h3::first-letter{ text-transform: uppercase;}

.become .wrapper ul li{
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
}

.become .wrapper ul li:nth-child(2){ margin-top: 10px;}

.become .wrapper ul li::first-letter{ text-transform: uppercase;}

.become .wrapper a{
  padding: 10px 20px;
  border-radius: 2px;
  display: inline-block;
  background-color: #439fe3;
  color: #fff;
  font-size: 13px;
}

.become .wrapper a::first-letter{ text-transform: uppercase;}

.become .wrapper a:hover{
  transition: .5s;
  background-color: #1e3066;
}

/* Conferences event styling starts. */
.conferences-event{ padding: 50px 0;}

.conferences-event h2{
  font-size: 25px;
  color: #4782b9;
}

.conferences-event h2::first-letter{ text-transform: uppercase;}

.conferences-event p{
  margin: 15px 0 25px 0;
  display: inline-block;
  font-size: 13px;
  color: #393939;
  line-height: 1.4;
}

.conferences-event p::first-letter{ text-transform: uppercase;}

/* Conferences signup styling start. */
.conferences-signup{
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, rgb(44, 94, 171), rgb(30, 48, 102));
  box-shadow: inset 0px -1px 10px #0000005e;
}

.conferences-signup .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conferences-signup h2{
  color: #fff;
  font-size: 25px;
}

.conferences-sign-tagline{
  margin: 10px 0;
  display: block;
  font-size: 13px;
}

.conferences-sign-tagline::first-letter,.conferences-signup h2::first-letter{ text-transform: uppercase;}

.conferences-signup input{
  width: 230px;
  padding: 7px 10px;
  border: 1px solid #439fe3;
  font-size: 13px;
  outline: none;
}

.conferences-signup button{
  padding: 6px 25px;
  border: 2px solid #439fe3;
  margin-left: -5px;
  background-color: #439fe3;
  color: #fff;
  font-size: 13px;
  outline: none;
}

.conferences-signup button:hover{
  transition: .5s;
  background-color: #1e3066;
}

.conferences-signup button::first-letter{ text-transform: uppercase;}

/* Conference page js style. */
.lightBox{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right,#2c5eab,#1e3066);
}

.lightBox::after{
  content: "For exit click on this area.";
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.all-conferences .wrapper .lightBox a img{ 
  height: auto;
  width: 80%;
  display: block;
  position: fixed;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all .55s;
}

/* .all-conferences .wrapper .lightBox a img:hover{ transform: scale(1);} */
/*=================================
  Main styling end.
=================================*/

/* Conferences page responsive stylesheet starts. */
@media only screen and (max-width: 1150px){
  .all-conferences ul{ grid-template-columns: 48% 48%;}

  .become .wrapper{ 
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .conferences-signup .wrapper{ flex-direction: column;}

  .conferences-signup form{ margin-top: 10px;}
}

/* Media query for 900px start. */
@media only screen and (max-width: 900px){
  .conferences-findout:hover,.become .wrapper a:hover,.conferences-signup button:hover{ background-color: #439fe3;}

  .all-conferences ul li figure img:hover{ transform: scale(1);}

  .page-tracker ul li a:hover,.page-tracker ul li a:hover span,.all-conferences ul li h3 a:hover,.all-conferences ul li h3 a:hover span{ text-decoration: none;}
}

/* Media query for 800px start. */
@media only screen and (max-width: 800px){
  .all-conferences ul{ 
    grid-template-columns: 100%;
    grid-row-gap: 30px;
  }

  .become .wrapper div{ padding: 30px 10px;}

  .become .wrapper ul{ margin-left: 20px;}

  .conferences-signup form{ margin-top: 20px;}

  .conferences-signup input{ 
    width: 96%;
    padding: 7px 0 7px 5px;
  }

  .conferences-signup button{
    width: 100%;
    margin: 0;
    display: block;
  }
}
/* Conferences page responsive stylesheet end. */

/*=========================================================================================
  Conferences page styling ends.
===========================================================================================*/
/*=========================================================================================
  News page styling starts.
===========================================================================================*/
/* Header style. */
.news-container .wrapper{
  padding: 0 0 30px 0;
  max-width: 1350px;
  width: 71%;
  margin: 0 auto;
}

.news-header{ background-image: linear-gradient(to right,#2c5ea8,#1c3362);}
/*=================================
  Main styling start.
=================================*/
/* Aside styling start. */
.aside{
  width: 250px;
  margin: 0 14.5% 0 0;
  float: right;
}

.aside .wrapper{ width: auto;}

.aside-top{
  padding: 15px;
  background-image: linear-gradient(50deg,#1e2f65,#4cbcf0);
}

.aside-top p{
  margin-bottom: 10px;
  color: #fff;
  font-size: 17px;
}

.aside-top p::first-letter{ text-transform: uppercase;}

.aside-top a{
  padding: 10px 0;
  display: block;
  background-color: #4cbcf0;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.aside-top a:hover{
  transition: .5s;
  background-color: #1c3362;
}

.aside-top a::first-letter{ text-transform: uppercase;}

.aside-bottom{ margin: 15px 0;}

.aside-bottom ul{ 
  padding: 0 10px;
  border: 1px solid #e4ecf3;
}

.aside ul li{ 
  padding: 10px 0;
  border-bottom: 1px solid #efefef;
}

.aside ul li:last-child{ border: none;}

.aside ul li a{
  display: inline-block;
  color: #1E3066;
  font-size: 13px;
}

.aside ul li a:hover{
  text-decoration: underline;
}

.aside ul li h3{ margin: 3px 0 5px 0;}

.aside ul li h3 a{
  display: inline-block;
  color: #005faa;
  font-size: 17px;
  line-height: 1.3;
}

.aside-bottom h3:first-child{
  padding: 10px;
  background-image: linear-gradient(50deg,#1d3160,#2c5ea8);
  color: #fff;
  font-size: 17px;
}

.aside-date{
  display: inline-block;
  color: #999;
  font-size: 13px;
  text-transform: capitalize;
}

.aside-bottom h3:first-child::first-letter,.aside ul li a::first-letter,.aside ul li h3 a::first-letter{  text-transform: uppercase;}

/* News banking styling start. */
.news-banking .wrapper .news-info-thumb{
  margin: 20px 270px 15px 0;
  padding-left: 20px;
  border: 1px solid #c8d7e6;
  display: flex;
  justify-content: space-between;
}

.news-info h3 a{
  margin: 15px 0 10px 0;
  display: inline-block;
  color: #1E3066;
  font-size: 13px;
}

.news-info h3 a:hover,.news-info h2 a:hover,.news-info h2 a:hover span{
  transition: .5s;
  text-decoration: underline;
}

.news-info h2 a{
  color: #005FAA;
  font-size: 22px;
}

.news-info-date{
  margin: 5px 0;
  display: inline-block;
  color: #999;
  font-size: 13px;
  text-transform: capitalize;
}

.news-info p{ 
  margin-bottom: 10px;
  color: #4a4a4a;
  font-size: 11px;
  line-height: 1.5;
}

.news-info h3 a::first-letter,.news-info p::first-letter{ text-transform: uppercase;}

.news-banking-thumbnail img{
  margin-left: 20px;
  width: 377px;
  height: 220px;
}

/* Top news styling starts. */
.top-news .top-eachnews-all{
  margin: 0 270px 0 0;
  padding: 15px 0;
  border-top: 1px solid #c8d7e6;
  border-bottom: 1px solid #c8d7e6;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.top-each-news:first-child{ 
  padding-right: 15px;
  border-right: 1px solid #c8d7e6;
}

.top-each-news:nth-child(2){ padding: 0 15px;}

.top-each-news:nth-child(3){ 
  padding-left: 15px;
  border-left: 1px solid #c8d7e6;
}

.top-each-news figure{ height: 120px; overflow: hidden;}

.top-each-news figure img{ 
  width: 100%;
  height: 100%;
}

.top-each-news figure img:hover{
  transition: .5s;
  transform: scale(1.1);
}

.top-eachnews-all h3 a{
  margin: 15px 0 10px 0;
  display: inline-block;
  color: #1e3066;
  font-size: 13px;
}

.top-eachnews-all h2 a{
  display: inline-block;
  color: #005FAA;
  font-size: 18px;
  line-height: 1.3;
}

.top-eachnews-all h3:hover a,.top-eachnews-all h3:hover a span,.top-eachnews-all h2:hover a,.top-eachnews-all h2:hover a span{
  transition: .5s;
  text-decoration: underline;
}

.top-news-date{
  margin: 5px 0;
  display: inline-block;
  color: #999;
  font-size: 13px;
  text-transform: capitalize;
}

.top-eachnews-all p{
  color: #4a4a4a;
  font-size: 11px;
  line-height: 1.5;
}

.top-each-news:nth-child(3) span{ display: inline;}

.top-eachnews-all h3 a::first-letter,.top-eachnews-all h2 a::first-letter,.top-eachnews-all p::first-letter{ text-transform: uppercase;}

/* Must see styling start. */
.icon-btn-left,.icon-btn-right{
  height: 100%;
  padding: 0 3px;
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translate(0,-50%);
  background-color: #ffffffcc;
  color: #6f6666;
  font-size: 22px;
  text-indent: -9000px;
  cursor: pointer;
}

.icon-btn-left:hover,.icon-btn-right:hover{
  transition: .5s;
  opacity: .7;
}

.icon-btn-left{ left:0;}

.icon-btn-right{ right: 0;}

.icon-btn-left::after,.icon-btn-right::after{
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  float: right;
  position: relative;
  top: 50%;
  text-indent: 0;
}

.icon-btn-left::after{ content: "\f053";}

.icon-btn-right::after{ content: "\f054";}

.video-slider{
  margin: 0px 270px 0px 0px;
  position: relative;
  overflow: hidden;
}

.news-windows-all{ display: flex;}

.news-each-window{ 
  flex-basis: 100%; 
  margin-right: 15px;
  position: relative;
}

.news-mustsee h2{
  margin: 15px 0 10px 0;
  color: #005FAA;
  font-size: 23px;
}

.news-mustsee h2::first-letter{ text-transform: uppercase;}

 .news-thumbnail{ 
   width: 220px;
   height: 125px;
  }

.news-thumbnail img{ width: 100%;}

.news-playbtn{
  padding: 10px 11px 10px 15px;
  border-radius: 100px;
  position: absolute;
  z-index: 2;
  top: 44px;
  left: 50%;
  transform: translate(-50%,0);
  background-color: #fff;
  cursor: pointer;
}

.news-playbtn img{ height: 20px;}

.news-each-window ul{ 
  margin: 15px 0 10px 0;
  display: flex;
}

.news-each-window ul li:first-child::after{
  content: "|";
  margin: 0 5px;
}

.news-each-window ul a{
  display: inline-block;
  color: #1e3066;
  font-size: 13px;
}

.news-each-window h3 a:hover,.news-each-window h3 a:hover span,.news-each-window ul a:hover{ text-decoration: underline;}

.news-each-window h3 a{
  display: inline-block;
  color: #005FAA;
  font-size: 17px;
  line-height: 1.3;
}

.news-each-window ul a::first-letter,.news-each-window h3 a::first-letter{ text-transform: uppercase;}

/* News show more styling start. */
.news-show-more ul{
  margin: 25px 270px 0px 0px;
  padding-top: 15px;
  border-top: 1px solid #c8d7e6;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 30px;
}

.news-show-more ul li:nth-child(10),.news-show-more ul li:nth-child(11),.news-show-more ul li:nth-child(12),.news-show-more ul li:nth-child(13),.news-show-more ul li:nth-child(14),.news-show-more ul li:nth-child(15),.news-show-more ul li:nth-child(16),.news-show-more ul li:nth-child(17),.news-show-more ul li:nth-child(18){ display: none;}

.news-show-more ul li:first-child,.news-show-more ul li:nth-child(4),.news-show-more ul li:nth-child(7),.news-show-more ul li:nth-child(10),.news-show-more ul li:nth-child(13),.news-show-more ul li:nth-child(16){ padding-right: 10px;}
.news-show-more ul li:nth-child(2),.news-show-more ul li:nth-child(5),.news-show-more ul li:nth-child(8),.news-show-more ul li:nth-child(11),.news-show-more ul li:nth-child(14),.news-show-more ul li:nth-child(17){ 
  padding: 0 10px 0 15px;
  border-left: 1px solid #c8d7e6;
  border-right: 1px solid #c8d7e6;
}
.news-show-more ul li:nth-child(3),.news-show-more ul li:nth-child(6),.news-show-more ul li:nth-child(9),.news-show-more ul li:nth-child(12),.news-show-more ul li:nth-child(15),.news-show-more ul li:nth-child(18){ padding-left: 15px;}

.news-show-more ul li a{
  margin-bottom: 10px;
  display: inline-block;
  color: #1e3066;
  font-size: 12px;
}

.news-show-more ul li a:hover,.news-show-more ul li a:hover span{
  transition: .5s;
  text-decoration: underline;
}

.news-show-more ul li h3 a{
  margin: 0;
  display: inline-block;
  color: #005FAA;
  font-size: 17px;
  line-height: 1.3;
}

.news-show-more ul li a::first-letter{ text-transform: uppercase;}

.news-shoemore-date{
  margin: 5px 0;
  display: inline-block;
  color: #999;
  font-size: 13px;
  text-transform: capitalize;
}

.news-show-more p{
  color: #4a4a4a;
  font-size: 11px;
  line-height: 1.5;
}

.show-more-js{
  max-width: 1350px;
  display: block;
  text-align: center;
}

.show-more-js a{
  margin: 40px 270px 0 0;
  padding: 7px 40px;
  border-radius: 2px;
  display: inline-block;
  background-color: #439fe3;
  color: #fff;
  font-size: 13px;
}

.show-more-js a:hover{
  transition: .5s;
  background-color: #1c3362;
}

.news-show-more p::first-letter,.show-more-js a::first-letter{ text-transform: uppercase;}
/* Js style. */
.block{ display: block;}
.none{ display: none;}
/*=================================
  Main styling end.
=================================*/
/* Responsive stylesheet starts for news page. */
@media only screen and (max-width:1150px){
  .news-banking .wrapper .news-info-thumb{ flex-direction: column;}

  .news-banking-thumbnail img{ 
    margin: 20px 0 0 0;
    width: 96%;
    height: auto;
  }

  .news-show-more ul{ grid-template-columns: 1fr 1fr;}

  .news-show-more ul li:nth-child(2),.news-show-more ul li:nth-child(4),.news-show-more ul li:nth-child(6),.news-show-more ul li:nth-child(8),.news-show-more ul li:nth-child(10),.news-show-more ul li:nth-child(12),.news-show-more ul li:nth-child(14),.news-show-more ul li:nth-child(16),.news-show-more ul li:nth-child(18){ 
    padding: 0 10px 0 15px;
    border-left: 1px solid #c8d7e6;
    border-right: none;
  }

  .news-show-more ul li:nth-child(1),.news-show-more ul li:nth-child(3),.news-show-more ul li:nth-child(5),.news-show-more ul li:nth-child(7),.news-show-more ul li:nth-child(9),.news-show-more ul li:nth-child(11),.news-show-more ul li:nth-child(13),.news-show-more ul li:nth-child(15),.news-show-more ul li:nth-child(17){ 
    padding: 0 10px 0 0;
    border-right: none;
    border-left: none;
  }
}

/* Media query for 900px starts here. */
@media only screen and (max-width:900px){
  .aside{ display: none;}

  .news-banking .wrapper .news-info-thumb{ margin: 20px 0px 15px 0;}

  .news-info p{ margin-right: 10px;}

  .top-news .top-eachnews-all,.video-slider{ margin: 0;}

  .news-show-more ul{ margin: 15px 0 0px 0px;}

  .show-more-js a{ margin: 40px 0 30px 0;}

  .aside ul li a:hover,.news-info h3 a:hover,.news-info h2 a:hover,.news-info h2 a:hover span,.news-show-more ul li a:hover,.news-show-more ul li a:hover span,.news-each-window h3 a:hover,.news-each-window h3 a:hover span,.news-each-window ul a:hover,.top-eachnews-all h3:hover a,.top-eachnews-all h3:hover a span,.top-eachnews-all h2:hover a,.top-eachnews-all h2:hover a span{ text-decoration: none;}

  .show-more-js a:hover{ background-color: #439fe3;}

  .icon-btn-left:hover,.icon-btn-right:hover{ opacity: 1;}

  .top-each-news figure img:hover{ transform: scale(1);}

  .aside-top a:hover{ background-color: #4cbcf0;}
}

/* Media query for 550px starts here. */
@media only screen and (max-width:550px){
  .top-news .top-eachnews-all{ grid-template-columns: 1fr;}

  .top-news .wrapper .top-each-news{
    padding: 0;
    border: none;
  }

  .top-each-news figure img{ margin-top: 20px;}

  .news-show-more ul{grid-template-columns: 1fr;}

  .news-show-more .wrapper ul li{
    padding: 0;
    border: none;
  }
}
/*=========================================================================================
  News page styling ends.
===========================================================================================*/